{
    "$schema": "http://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@zoth/(.*)$",
        "^@/*/(.*)$",
        "^[./]"
    ],
    "importOrderCaseInsensitive": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "insertPragma": false,
    "jsxSingleQuote": false,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 100,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}